version: 2
updates:
  - package-ecosystem: "nuget"
    directories:
      - "/src/**/*"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"